<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	{{!-- Custom css --}}
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
	<title>Eat-Da-Burger</title>

	{{!-- Bootstrap --}}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">

	{{!-- jquery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgerjs.js"></script>

	{{!-- Google fonts --}}
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container my-4">

		<div class="col-12 col-md-12 col-lg-12 text-center my-4">
			<img src="/assets/img/title.png" class="title img-fluid" alt="Friend Finder" style="height:200px"; "width:200px;">
		</div>

		{{{ body }}}

	</div>

</body>

</html>